/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #E3F2FD;
  min-width: 320px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  padding: 35px 40px;
  margin: 0 auto;
  border-radius: 20px;
  background: #141414;
}
.wrapper header {
  display: flex;
  color: #B2B2B2;
  align-items: center;
  justify-content: space-between;
}
header h2 {
  font-size: 1.6rem;
}
header .column {
  display: flex;
  align-items: center;
}
header span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}
header input {
  outline: none;
  border-radius: 30px;
}
.volume-slider input {
  accent-color: #fff;
}
.keys-checkbox input {
  height: 30px;
  width: 60px;
  cursor: pointer;
  appearance: none;
  position: relative;
  background: #4B4B4B
}
.keys-checkbox input::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #8c8c8c;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}
.keys-checkbox input:checked::before {
  left: 35px;
  background: #fff;
}
.piano-keys {
  display: flex;
  list-style: none;
  margin-top: 40px;
}
.piano-keys .key {
  cursor: pointer;
  user-select: none;
  position: relative;
  text-transform: uppercase;
}
.piano-keys .edit-btn {
    position: absolute;
    bottom: 50px;
    width: 20px;
    color: #A2A2A2;
    font-size: 1.13rem;
    text-align: center;
    opacity: 0.6;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease-in-out;
}
.piano-keys .edit-btn:hover {
  opacity: 1;
}
.piano-keys .edit-btn.hide {
  visibility: hidden;
}
.edit-field.hide {
  visibility: hidden;
}
.edit-field input {
  padding: 5px 10px;
}

.piano-keys .black {
  z-index: 2;
  width: 44px;
  height: 140px;
  margin: 0 -22px 0 -22px;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333, #000);
}
.piano-keys .black:hover {
  box-shadow: -1px 2px 21px 0px rgba(0,0,0,0.39);
  -webkit-box-shadow: -1px 2px 21px 0px rgba(0,0,0,0.39);
  -moz-box-shadow: -1px 2px 21px 0px rgba(0,0,0,0.39);
}
.piano-keys .black.active {
  box-shadow: inset -5px -10px 10px rgba(255,255,255,0.1);
  background:linear-gradient(to bottom, #000, #434343);
}
.piano-keys .white {
  height: 230px;
  width: 70px;
  border-radius: 8px;
  border: 1px solid #000;
  background: linear-gradient(#fff 96%, #eee 4%);
}
.piano-keys .white:hover {
  background: linear-gradient(#fff 96%, #9dc6f9 4%);
}
.piano-keys .white.active {
  box-shadow: inset -5px 5px 20px rgba(0,0,0,0.2);
  background:linear-gradient(to bottom, #eee 96%, #c3dbfb 4%);
}

.piano-keys .key span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: #A2A2A2;
  font-size: 1.13rem;
  text-align: center;
}
.piano-keys .key.hide span {
  display: none;
}
.piano-keys .black span {
  bottom: 13px;
  color: #888888;
}

.sequence {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 20px;
}

.sequence label {
  color: #fff;
  padding-right: 10px;
}

.sequence button {
  margin-left: 10px;
  padding: 0 10px; 
}

.input-error {
  border: 2px solid red !important;
  animation: inputError 1s ease;
}

@keyframes inputError {
  0% { border-color: red; }
  100% { border-color: initial; }
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding: 25px;
  }
  header {
    flex-direction: column;
  }
  header :where(h2, .column) {
    margin-bottom: 13px;
  }
  .volume-slider input {
    max-width: 100px;
  }
  .piano-keys {
    margin-top: 20px;
    flex-wrap: wrap;
  }
  
  .piano-keys .black {
    height: 100px;
    width: 40px;
    margin: 0 -20px 0 -20px;
  }
  .piano-keys .white {
    height: 180px;
    width: 60px;
  }
  .sequence {
    flex-direction: column;
    row-gap: 7px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 260px;
  }
  .piano-keys {
    row-gap: 10px;
    justify-content: center;
  }
  .piano-keys .white {
    width: 50px;
  }
  .break {
    flex-basis: 100%;
    height: 0;
  }
}